#usersGrid td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.batchName {
    max-width: 200px;
}

.batchName:hover {
    max-width: 400px;
    transition-delay: 0.15s;
}