.grid {
    margin: 20px;
    background-color: transparent;
}

.grid th {
    padding: 1.05rem !important;
}

.actionBarWrap {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.tableWrap {
    margin: 0 !important;
    padding: 0 !important;
    position: static !important;
    bottom: 0 !important;
}


.deleteButton {
    margin-left: 15px;
}

.header {
    background-color: white;
}

.gridToolBoxButtons {
    float: right;
}

.buttonWrap {
  text-align: right;
}

.buttonWrap > * {
  margin: 5px !important;
}

.filterWrap {
  display: flex;
  margin-top: 5px;
  text-align: right;
  float: right
}

.filterWrap > div {
  margin-right: 10px;
}

.standardFilter {
  width: 240px;
}

.customInput {
  width: 400px;
}

.doubleDateInput {
  float: right;
  display: flex;
  width: 460px !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.doubleDateInput > div {
  padding-right: 10px;
}
