.rightAlign {
    text-align: right !important;
    width: 100%;
}

.textColorBlue {
    color: blue;
}

.transferAlert {
    background-color: #F3F781!important;
}

.transferReversed {
    background-color: lightgray!important;
}

.transferError {
    background-color: pink!important;
}

.transferNormal {
    background-color: #ffffff!important;
}

.transferAverage, .transferTotal {
    background-color: #ffffff!important;
    font-weight: bold;    
}