.status {
    padding-left: 10px;
    background: #546684;
    border-radius: 3px;
    color: white;
    padding: 3px 6px;
    font-size: 14px;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: -3px;
}