.gridToolBoxButtons {
    float: right;
}

.buttonWrap {
  text-align: right;
}

.buttonWrap > * {
  margin: 5px !important;
}

.filterWrap {
  display: flex;
  margin-top: 5px;
  text-align: right;
  float: right
}

.filterWrap > div {
  margin-right: 10px;
}

.standardFilter {
  width: 240px;
}

.customInput {
  width: 410px;
}