.payForm {
    width: 500px;
    padding: 20px 0;
    margin: 0 auto;
}

.payForm .errorMessage {
    margin-top: 10px;
    text-align: center;
    color: red;
}

.payForm .successMessage {
    margin-top: 10px;
    text-align: center;
    color: green;
}

.footer {
  justify-content: flex-end;
}

.footer button {
  margin-right: 10px;
}

.row {
  margin-top: 10px;
  display: flex;
}

.flexBasis {
  flex-basis: 600px;
}

.inputWrapper {
    width: 480px;
    display: inline-block;
    vertical-align: top;
}

.inputWrapper input {
    color: #595959 !important;
}

.label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #595959;
  min-width: 150px;
}
